//typograpghy
$ff: 'Geometria';
$bold: 700;
$mid: 500;
$sm: 24px;
$md: 36px;
$lg: 56px;

//colors
$bgColor: linear-gradient(122.76deg, #FFA2A2 4.09%, #FF7B7B 91.04%), #FFFFFF;
$bgCalc: linear-gradient(155.23deg, #28518E 0%, #3A77D1 100%);
$bgCalcWrapper: rgba(255,255,255,0.2);
$textPrime: #F2F2F2;
$textDark: #2B589A;
$bc: rgba(255,255,255,1);
$bca: rgba(255,255,255,0.6);
$bdh: rgba(255,255,255,0.12);
$bda: rgba(255,255,255,0.4);
$bd: transparent;

//shadows
$bgCalcShadow: 0px 82px 158px rgba(0, 0, 0, 0.35), 0px 24.7206px 47.6324px rgba(0, 0, 0, 0.228056), 0px 10.2677px 19.7841px rgba(0, 0, 0, 0.175), 0px 3.71362px 7.1555px rgba(0, 0, 0, 0.121944);

//shapes
$br: 18px;
$brBtn: 50%;

//borders
$border: 2px solid rgba(255,255,255,0.35);